*{
    box-sizing: border-box;
    margin: 0px;  /*m0px*/
    padding: 0px;  /*p0px*/

    body{
        // background-color: lavender;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:  sans-serif;
        font-size: 40px;   
    }

    @media screen and (max-width: 600px){
        background-color: rgb(252, 233, 240);
    }
    
    @media only screen and (min-width: 600px){
        background-color: rgb(248, 208, 222);
    }
    
    @media only screen and (min-width: 800px){
        background-color: rgb(251, 183, 206);
    }
    
    @media only screen and (min-width: 1000px){
        background-color: rgb(251, 162, 192);
    }
}

.container{
    margin-top: 268px;
}
        
